/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

h1 {
    text-align: center;
}

.ancla-btn {
    display: inline-block;
    margin-top: 20px;
}

.text-center {
    text-align: center;
}
